body{
    background-color: black;
    
    
}
p{
    color: yellow;
    font-size: 80px;
    margin-right: 10px;
    margin-left: 10px;
}

div{
    display: flex;
    justify-content: baseline;
    
}
#horas{
    margin: auto;
    display: flex;
    padding: 0;
    justify-items: end;
    justify-content: center;
    background-color: rgba(63, 59, 59, 0.438);
    margin-top: 40px;
    border-radius: 20px;
    width: 500px;

}

#dias{
   margin: auto;
    display: flex;
    padding: 0;
    justify-items: end;
    justify-content: center;
    background-color: rgba(63, 59, 59, 0.438);
    margin-top: 40px;
    border-radius: 20px;
    width: 500px;
}

#minutos{
   margin: auto;
    display: flex;
    padding: 0;
    justify-items: end;
    justify-content: center;
    background-color: rgba(63, 59, 59, 0.438);
    margin-top: 40px;
    border-radius: 20px;
    width: 500px;
}

#segundos{
   margin: auto;
    display: flex;
    padding: 0;
    justify-items: end;
    justify-content: center;
    background-color: rgba(63, 59, 59, 0.438);
    margin-top: 40px;
    border-radius: 20px;
    width: 500px;
}



h1{
    background-color: rgba(128, 128, 128, 0.5);
    color: yellow;
    justify-content: center;
    font-style: italic;
    text-align: center;
    font-size: 60px;
}